body
{
    margin: 0;
    padding: 0;
}


#icon{
    height: 60;
    width: 50px;
    cursor: pointer;
}


.info h1{
    font-size: 70px;
    color: blue;
}


.container{
    height: 100vh;
    width: 100%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-sharp{
    color: blue;
}
